.sidebar_main {
  background-color: $blue;
  color: white;
  width: 25%;
  height: 2000px;
  box-sizing: border-box;
  padding-top: 106px;
  overflow-x: hidden;
  overflow-y: auto;

  .course_header {
    display: flex;
    align-items: center;
    margin: 0px 0px 49px 35px;

    img {
      width: 40%;
      margin-right: 31px;
    }

    p {
      font-size: 2.25rem;
      font-weight: 400;
    }
  }

  .courseH5 {
    font-size: 2.9rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 136px;
  }

  .chapters {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    margin-bottom: 111px;

    h5 {
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 42px;
    }

    .intro_container {
      display: flex;
      align-items: center;
      margin-bottom: 36px;

      img {
        width: 10%;
        margin-right: 25px;
      }

      p {
        font-size: 2.5rem;
        font-weight: 500;
      }
    }
  }
}
