main {
  .hero {
    background-image: $gradient1;
    padding: 5px 0px 5px 0px;
  }

  .BTNorange {
    @include orangeBTN;
    position: relative;
    top: -120px;
    left: 81%;
  }

  .BTNorange:hover {
    @include orangeBTNhover;
  }

  .BTNblue {
    @include blueBTN;
    margin-top: 10px;
  }

  .BTNblue:hover {
    @include blueBTNhover;
  }
  .network {
    width: 90%;
    display: flex;
    color: white;
    margin-left: auto;
    padding: 70px;
    box-sizing: border-box;

    .network_heading {
      margin-left: 80px;
    }

    .network_details {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      width: 30%;
      margin-right: 20px;
    }
  }
  .events {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 50px;
    margin-top: 55px;

    .events_details {
      width: 50%;
      display: flex;
      flex-direction: column;
      line-height: 1.1;
      margin-left: 20px;
      margin-right: 20px;

      p {
        margin: 22px 0px;
        line-height: 1.2;
      }
    }

    .events_heading {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 35px;

      .BTNorange2 {
        @include orangeBTN;
        margin-top: 20px;
        position: relative;
        left: 75%;
      }

      .BTNorange2:hover {
        @include orangeBTNhover;
      }

      h2 {
        line-height: 1.3;
      }
    }
  }
}
